/*font*/
/*colors*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  max-width: 1440px;
  background-color: #FFFFFF;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

.logo {
  height: 50px;
  margin: 43px 100px;
}

#contact_modal {
  display: none;
}

main {
  margin: 0 100px;
}

.page_photographer-informations {
  width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #FAFAFA;
  height: 313px;
  padding: 0 50px;
}

.page_photographer_text {
  text-align: left;
}

.page_photographer_text h1 {
  color: #D3573C;
  font-size: 4rem;
  font-weight: 200;
  line-height: 83px;
  margin: 0;
}

.page_photographer_text .photographer_text--location {
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
  margin: 4px;
}

.page_photographer_text .photographer_text--tagline {
  font-size: 18px;
  line-height: 23px;
  margin: 4px;
}

#contact_button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.photographer_section--banner {
  display: block;
}

.photographer_section--banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-top: 50px;
}

.dropdown label {
  font-weight: 700;
  font-size: 18px;
}

#dropdown {
  position: absolute;
  width: 170px;
  top: -20px;
  left: 185px;
  border-style: none;
}

#dropdown button {
  background: #901C1C;
  padding: 20px;
  font-size: 18px;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
}

#dropDownPopularityButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#dropDownPopularityButton span {
  color: #FFFFFF;
  display: block;
  margin-left: 20px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#dropDownPopularityButton span:focus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 3000ms ease;
  transition: 3000ms ease;
}

#dropdown-button {
  display: none;
  overflow: auto;
  position: absolute;
  border-style: none;
  width: 170px;
}

#dropdown-button #titre {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0 2px 0 white;
          box-shadow: inset 0 2px 0 white;
}

#dropdown-button #date {
  -webkit-box-shadow: inset 0 2px 0 white;
          box-shadow: inset 0 2px 0 white;
}

.drop-down-open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.page_photographer-medias {
  width: 1240px;
  padding: 0 50px;
}

.page_photographer-media-attributes {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  gap: 20px;
  grid-auto-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 20px;
}

.page_photographer-media-attributes .image-Media {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 300px;
}

.page_photographer-media-attributes .img_attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #901C1C;
}

.page_photographer-media-attributes .img_attributes h3 {
  font-size: 24px;
  line-height: 31px;
  width: 300px;
  text-align: left;
}

.page_photographer-media-attributes .img_attributes p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.page_photographer-media-attributes .img_attributes span {
  display: block;
}

.page_photographer-media-attributes .img_attributes span:hover {
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#comments {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}

.infos {
  position: fixed;
  bottom: 0;
  right: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  height: 89px;
  padding: 1.4rem 2.5rem 1.2rem;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #DB8876;
  font-size: 24px;
}

.infos_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 31px;
  margin-left: 76px;
}

.infos_likes--count {
  margin-right: 10px;
}
/*# sourceMappingURL=photographer.css.map */