.select_filter {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left:50px;
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: $bg-1st-color;
      color: white;
      font-size: 1.20rem;
      padding: 0.9rem 0.6rem;
      border-radius: 0.3rem;
      box-sizing: border-box;
      &:hover, &:focus{
        background-color: $bg-medium;
        color:#000000;
        font-weight: 700;
      }
    }
  }
  
  .dropdownlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $bg-1st-color;
    border-radius: 0.3rem;
    padding: 0 0.6rem;
    cursor: pointer;
    position: absolute;
    top:-1rem;
    z-index: 3;
    &_choice {
      display: flex;
      align-items: center;
      width: 9.5rem;
      height: 3.2rem;
      color: white;
      &:nth-child(2) {
        border-bottom: solid 0.05rem white;
        border-top: solid 0.05rem white;
      }
    }
  }
  .arrows {
    cursor: pointer;
    padding: .5rem;
  }
  .fa-chevron-down {
    color: white;
    padding: 0 0.9rem 0 1.7rem;
  }
  .fa-chevron-up {
    color: white;
    padding: 0 0.6rem 0 1rem;
  }
  .container {
    position: absolute;
    display: none;
  }
  #button-dropup {
    position: absolute;
    left: 6.7rem;
    z-index: 3;
  }