/*font*/
$font-family:"DM Sans", sans-serif;
$font-size-base:16px;
/*colors*/
$bg-1st-color:#901C1C;
$bg-2nd-color:#D3573C;
$bg-3d-color:#E5E5E5;
$color-3rd-dark:#525252;
$white:#FFFFFF;
$color-black-light:#757575;